<div class="menuTexte">
		© 2002-2010 Les Hortensias
		<img src="images/bulle.png" align="absmiddle"> <a href="infos.html">Combien ça coûte ?</a>
		<img src="images/bulle.png" align="absmiddle"> <a href="venir.html">C'est où ?</a>
		<img src="images/bulle.png" align="absmiddle"> <a href="guide.html">Visite guidée</a>
		<img src="images/bulle.png" align="absmiddle"> <a href="partenaires.html">Partenaires</a>
    <!--
		<img src="images/bulle.png" align="absmiddle"> <a href="meteo.html">Météo-Marées</a>
    -->
		<img src="images/bulle.png" align="absmiddle"> <a href="tourisme.html">Tourisme</a>
</div>
